<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Azure IoT Edge - Local simulated temperature sensor dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- 
        Example Input Message:
        ======================    
        
        {    
            "PublishTimestamp":"2018-12-08 16:08:26",
            "Content":[
              {
                "HwId":"Wise4012-33",
                "Data":[
                  {
                    "CorrelationId":"DefaultCorrelationId",
                    "SourceTimestamp":"2018-12-08 16:08:26",
                    "Values":[
                      {
                        "DisplayName":"Humidity",
                        "Address":"40002",
                        "Value":"28791"
                      },{
                        "DisplayName":"Temperature",
                        "Address":"40001",
                        "Value":"33849"
                      }
                    ]
                  }
                ]
              }
            ]
          }
        -->

    </head>
    <body>
        <h1>Titec Modbus values dashboard</h1>

        <div id="charts-1" ></div>

        <div id="messages"></div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
        <script src="/scripts/highcharts.js"></script>
        <script src="/scripts1/gray.js"></script>

        <script>
            $(function () { 
				// noOfItems you want to show on the chart
                var noOfItems = -600;
				// interval of the arriving data
				var	interval = 1000;

                var chartLine = Highcharts.chart('charts-1', {
                    chart: {
                        type: 'spline',
                        animation: Highcharts.svg, // don't animate in old IE
                        marginRight: 10,
                        events: {
                        }
                    },
                    title: {
                        text: 'Titec Temperature and Humidity(utc)'
                    },
                    xAxis: {
                        type: 'datetime',
                        tickPixelInterval: 100
                    },
                    yAxis: {
                        title: {
                            text: 'Combined scale'
                        },
                        plotLines: [{
                            value: 0.5,
                            width: 1,
                            color: '#808080'
                        },
                        {
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                                Highcharts.numberFormat(this.y, 2);
                        }
                    },
                    legend: {
                        enabled: true
                    },
                    exporting: {
                        enabled: false
                    },
                    series: [
                    {
                        name: 'Temperature',
                        data: (function () {
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = noOfItems; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * interval,
                                    y: 30
                                });
                            }
                            return data;
                        }())
                    },   
                    {
                        name: 'Humidity',
                        data: (function () {
                            var data = [],
                                time = (new Date()).getTime(),
                                i;

                            for (i = noOfItems; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * interval,
                                    y: 20
                                });
                            }
                            return data;
                        }())
                    }
                    ]
                });      

                var socket = io();

                socket.on('broadcast message', function(msg){
                    // telemetry received
                    listMessage(msg);

                    var json = $.parseJSON(msg);

					var convertedDateTime = 
					  json.PublishTimestamp.substring(0, 10)
					  + 'T' + 
					  json.PublishTimestamp.substring(11, 19) + '.0Z' ;
								
					var timestamp = (new Date(convertedDateTime)).getTime();
										
                    for(var i = 0; i < json.Content.length; i++){
                        for(var j = 0; j < json.Content[i].Data.length; j++){
                            for(var k = 0; k < json.Content[i].Data[j].Values.length; k++){
                                var d = json.Content[i].Data[j].Values[k].DisplayName;
                                var a = json.Content[i].Data[j].Values[k].Address;
                                var v = json.Content[i].Data[j].Values[k].Value;
                                							
                                if (d == 'Temperature') {
                                    var seriesModule0 = chartLine.series[0];
                                    var x = timestamp, 
                                        y = parseInt(v);
                                    seriesModule0.addPoint([x, y], true, true);
									
									var temp = ((parseInt(v) / 65535) * 100) - 30;
									listMessage('Temperature: ' + temp);
                                }

                                if (d == 'Humidity') {
                                    var seriesModule1 = chartLine.series[1];
                                    var x = timestamp, 
                                        y = parseInt(v);
                                    seriesModule1.addPoint([x, y], true, true);  

									var hum = ((parseInt(v) / 65535) * 100);
									listMessage('Humidity: ' + hum);									
                                }
                            }
                        }
                    }            
                });

                socket.on('broadcast twin', function(desired){
                    // desired module twin received
                    if (desired.fileName) {
                        listMessage('Desired filname received:' + desired.fileName);
                    }
                });
            });

            function listMessage(message){
                $('#messages').prepend($('<li>').text(message));
                $('#messages li:gt(9)').remove(); // 10 lines of history
            }
        </script>
    </body>
</html>